.nav{
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    background-color: #a952a3;
}
.links{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}